attrs==21.4.0
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.10
coverage==6.2
distlib==0.3.4
filelock==3.4.2
google-api-core==2.4.0
google-api-python-client==2.36.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
greenlet==1.1.2
httplib2==0.20.2
idna==3.3
IMDbPY==2021.4.18
iniconfig==1.1.1
lxml==4.7.1
mypy==0.931
mypy-extensions==0.4.3
numpy==1.22.1
packaging==21.3
pandas==1.3.5
platformdirs==2.4.1
pluggy==1.0.0
protobuf==3.19.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.30
toml==0.10.2
tomli==2.0.0
tox==3.24.5
types-PyYAML==6.0.3
typing-extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.13.0
